#mainForm{
    position: relative;
    display: grid;
    border: solid black 1px;
    max-width: 15rem;
    margin: auto;
    margin-top: 5rem;
}

#mainForm input, p{
    align-content: center;
    text-align: center;
}

#check{
    background-color: brown;
    color: wheat;
}