#mainForm{
    position: relative;
    display: grid;
    border: solid black 1px;
    max-width: 15rem;
    margin: auto;
    margin-top: 5rem;
}

#mainForm input, p{
    align-content: center;
    text-align: center;
}

#check{
    background-color: brown;
    color: wheat;
}

#feedback{
    background-color: rgb(248, 230, 230);
    border: 1px solid black;
    margin: 1rem auto;
    width: 15rem;
    height: 5rem;
    text-align: center;
    align-content: center;
    display: none; 
}


#feedback p{
    color: white;
    align-content: center;
    margin: auto auto;
}